apiVersion: v1
kind: Pod
metadata:
  labels:
    app: pg-gvm-pod
  name: pg-gvm-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: localhost/extra2000/greenbone/pg-gvm
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      runAsUser: 104
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: pg_gvm_podman.process
    resources:
      requests:
        memory: 2000Mi
        cpu: 1000m
      limits:
        memory: 2000Mi
        cpu: 1000m
    volumeMounts:
    - mountPath: /var/lib/postgresql
      name: pg-gvm-postgresql-data
    - mountPath: /var/run/postgresql
      name: pg-gvm-postgresql-run
    - mountPath: /etc/postgresql/13/main/postgresql.conf
      name: pg-gvm-postgresql-config
      readOnly: true
    - mountPath: /etc/postgresql/13/main/pg_hba.conf
      name: pg-gvm-postgresql-config-hba
      readOnly: true
  volumes:
  - name: pg-gvm-postgresql-config
    hostPath:
      path: ./configs/postgresql.conf
  - name: pg-gvm-postgresql-config-hba
    hostPath:
      path: ./configs/pg_hba.conf
  - name: pg-gvm-postgresql-data
    persistentVolumeClaim:
      claimName: pg-gvm-postgresql-data
  - name: pg-gvm-postgresql-run
    persistentVolumeClaim:
      claimName: pg-gvm-postgresql-run
